Options -Indexes

# -----------------------------------------------
# Force HTTPS
# -----------------------------------------------
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# -----------------------------------------------
# Force non-www  (www → non-www)
# -----------------------------------------------
RewriteCond %{HTTP_HOST} ^www\.greektutor\.online$ [NC]
RewriteRule ^ https://greektutor.online%{REQUEST_URI} [L,R=301]
